.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}
.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.25rem;
  background-color: #fff;

  border-radius: 8px;
  z-index: 1001;
  &__title {
    font-weight: 500;
    margin: 0;
    font-size: 2.2rem;
  }
  &__text {
    font-size: 1.6rem;
  }
  &__buttons-box {
    display: flex;
    gap: 1.25rem;
    button {
      flex-grow: 1;
    }
  }
}
